*
{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
body {
    margin: 0;
    padding: 0;
}
.gradient {
background: linear-gradient(180deg, rgba(80, 48, 120, 0.74) 12.25%, rgba(64, 13, 128, 0.673319) 44.79%, rgba(67, 8, 140, 0.677385) 67.19%, rgba(16, 12, 15, 0.666) 92.71%);
width: 100%;
height: 100vh;
}

.rect {
width: 100%;
height: 100vh;
display: flex;
}
.rectleft {
width: 40%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}

.rectmid {
    width: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectright {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-end;
    flex-direction: column;
    }

.description {
width: 100%;
height: 15%;
display: flex;
align-items: center;
flex-wrap: wrap;
}

.thecard {
margin-right: 10vh;
margin-bottom: 25vh;
width: 326px; 
height: 446px;
perspective: 2000px;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card .face-front,
.card .face-back {
    height: 100%;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}
.card .face-front {
    background-image: url(img/cartesolo.png);
}
.card .face-back {
    transform: rotateY(180deg);

}

.personnage {
padding-left: 22vh;
width: 206px;
height: 229px;
align-self: center;
}

.table {
position: relative;
width: 885px;
height: 419px;
display: flex;
align-self: flex-end;
}

.table img {
    position: absolute;
    top: 0;
    left:40;
}

.couchetable {
    z-index: 1;
}

#couchecarte{
margin-left: 370px;
margin-top: 50px;
width: 173px;
height: 130px;
    z-index: 2;
}

.lebtn {
position: relative;
display: flex;
width: 100%;
}

.lebtn .buttontire {
    position:absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}